{{> menu}}

<form class="box"  action="/trail/{{category._id}}/updatetrail/{{trail._id}}" method="POST">
  <label>Update Trail Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <label class="label">Title</label>
        <input class="input" type="text" name="title", value="{{trail.title}}">
      </div>
      <div class="field">
        <label class="label">Description</label>
        <input class="input" type="text" name="description", value="{{trail.description}}">
      </div>
      <div class="field">
        <label class="label">Location</label>
        <input class="input" type="text" name="location" value="{{trail.location}}">
      </div>
      <div class="field">
        <label class="label">Lattitude</label>
        <input class="input" type="text" name="lattitude", value="{{trail.lattitude}}">
      </div>
      <div class="field">
        <label class="label">Longitude</label>
        <input class="input" type="text" name="longitude", value="{{trail.longitude}}">
      </div>
      <div class="field">
        <label class="label">Distance</label>
        <input class="input" type="text"  name="distance" value="{{trail.distance}}">
      </div>
    </div>
  </div>
  <button class="button is-primary">Update Trail</button>
</form>
